mat-toolbar{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.brand{
  font-family: titillium web,sans-serif;
  font-size: 2.0rem!important;
  padding-top: 0!important;
  margin-left: 10rem!important;
  color: #5cb85c!important;
}
.links{
  color: rgba(0,0,0,.3);
  display: flex;
  margin-right: 120px;
}
a{
  margin-right: 10px;
  font-family: source sans pro,sans-serif;
  font-size: 1rem;
  text-decoration: none;
}
a:visited{
  color: rgba(0,0,0,.3);
}
a:hover{
  color: #5cb85c;
}
h6{
  margin: 0;
}
.user-pic{
  max-width: 30px;
  max-height: 30px;
}
