<mat-toolbar>
  <div class="brand">conduit</div>
  <div class="links">
    <a>Home</a>
    <ng-container *ngIf="isLoggedIn">
      <a [routerLink]="['/articles/new']">
        <i class="ion-compose"></i>
        &nbsp; New Post
      </a>
      <a [routerLink]="['/settings']" class="nav-link">
        <i class="ion-gear-a"></i>
        &nbsp; Settings
      </a>
      <a
      [routerLink]="['/profiles', currentUser.user.username]"
      class="nav-link"
    >
    <i class="ion-contacts"></i>
    &nbsp;
        {{ currentUser.user.email }}

    </a>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']">Sign In</a>
      <a [routerLink]="['/register']">Sign Up</a></ng-container
    >
  </div>
</mat-toolbar>
