mat-card{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.links{
  display: flex;
 flex-direction: column;
 margin-left: auto;
margin-right: auto;
}
a {
  color: #5cb85c;
  text-decoration: none;
  font-family: source sans pro,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
button{
  background-color: #5cb85c;
  color: #fff;
  font-weight: 400;
  width: 90px;
  margin-left: auto;

}

