<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <div class="links">
      <h1>Sign Up</h1>
      <div><a [routerLink]="['/register']">Need an account?</a></div>
    </div>
    <div *ngIf="backendErrors">
      <cc-backend-error-messages [backendErrors]="backendErrors |json"></cc-backend-error-messages>
    </div>
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" type="email">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" type="password">
    </mat-form-field>
    <button mat-raised-button [disabled]="isSubmitting">Sign In</button>
  </mat-card>
</form>
