.feed-container{
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  flex-wrap: wrap;
}
mat-grid-list {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 10px;
}
.popular-tags{
  top: 0;
}
.toggler{
  display: flex;
  flex-direction: column;
}
