<cc-banner></cc-banner>
<div class="feed-container">
  <mat-grid-list cols="4" rowHeight="fit" style="height: 100vh;">
    <mat-grid-tile [colspan]="3" >
     <div class="toggler">
      <cc-feed [apiUrl]="apiUrl"></cc-feed>
     </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" >
<div class="popular-tags">
  <cc-popular-tags></cc-popular-tags>
</div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
