<div class="container">
  <div *ngIf="error">{{error}}</div>
<mat-card class="mat-elevation-z8">
  <div *ngIf="popularTags">
    <h1>Popular Tags</h1>
    <ul>
      <li *ngFor="let tag of popularTags.tags">
        <button mat-raised-button color="primary">{{tag}}</button>
      </li>
    </ul>
  </div>
</mat-card>
</div>
