<div class="container">
  <mat-card>
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Article Title" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="what is this about" />
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Write your Article" rows="8"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Enter the tags" />
      </mat-form-field>
     <div>
      <button mat-raised-button color="accent">Publish Article</button>
     </div>
    </form>
  </mat-card>
</div>
