.logo{
  color: #5cb85c;
  text-decoration: none;
  vertical-align: middle;
  font-size: small;
  margin-left: 190px;
}
.message{
  vertical-align: middle;
  margin-left: 10px;
  font-size: .8rem;
  color: #bbb;
  font-weight: 300;
}
