<mat-toolbar class="topbar" color="white">
  <div class="logo">Conduit</div>
 <div class="message">© 2022. An interactive learning project from Thinkster. Code licensed under MIT.</div>
</mat-toolbar>
