<cc-loading *ngIf="isLoading"></cc-loading>
<cc-error-messages *ngIf="error"></cc-error-messages>
<div *ngIf="feed">
<cc-toggler></cc-toggler>
  <mat-card *ngFor="let article of feed">
    <mat-card-content>
      <div class="user-info">
        <div>
          <a [routerLink]="['/profiles', article.author.username]" ><img [src]="article.author.image" /><span style="color: #5cb85c;">&nbsp;{{
              article.author.username
            }}</span></a
          ><br><span class="date">{{ article.createdAt |date }}</span>
        </div>
        <div>
          <a [routerLink]="['/articles', article.slug]" class="preview-link">
          <h1>{{article.title}}</h1>
           <span>{{article.description}}</span>
           </a>
           <div class="tag-lists"><div>Read more..</div><cc-tag-list [tags]="article.tagList"></cc-tag-list></div>
        </div>
      </div>
      <div class="user-likes"></div>
    </mat-card-content>
  </mat-card>
  <cc-pagination
  [total]="count"
  [limit]="limit"
  [url]="baseUrl"
  [currentPage]="currentPage"></cc-pagination>
</div>
