mat-card-content{
  display: flex;
  flex-direction: row;
}
mat-card{
margin-bottom: 8px;
}
a{text-decoration: none;}

.tag-lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cc-tag{
  margin-right: 0;
}
