.banner{
  width: 100%;
  background-color: #5cb85c;;
  height: 100px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 10px;
}
